#carousel {
    position: relative;
    height: 300px;
    overflow: hidden;
    padding: 0.25rem 0;
    margin: 0.25rem 0;
    border: 2px solid transparent;
}

#carousel:focus-visible {
    border-radius: 20px;
    border: 2px solid var(--black);
}

#carousel div {
    position: absolute;
    opacity: 1;
}

#carousel div img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(45%) translateX(0%);
}

#carousel div.hideLeft img {
    width: 235px;
    height: 150px;
    transform: perspective(160px) rotateY(10deg);
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(45%) translateX(-100%);
}

#carousel div.hideRight img {
    width: 235px;
    height: 150px;
    transform: perspective(160px) rotateY(-10deg);
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(67px) translateX(-25%);
    cursor: url(../assets/logo/arrowleft.png) 2 2, pointer;
}

#carousel div.prev img {
    width: 250px;
    height: 160px;
    transform: perspective(160px) rotateY(30deg);
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(0);
    opacity: 0.65;

    cursor: url(../assets/logo/arrowleft.png) 2 2, pointer;
}

#carousel div.prevLeftSecond img {
    width: 210px;
    height: 140px;
    transform: perspective(160px) rotateY(30deg);
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(67px) translateX(-75%);
    cursor: url(../assets/logo/arrowright.png) 2 2, pointer;
}

#carousel div.next img {
    width: 250px;
    height: 160px;
    transform: perspective(160px) rotateY(-30deg);
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-100%);
    opacity: 0.65;
    cursor: url(../assets/logo/arrowright.png) 2 2, pointer;
}

#carousel div.nextRightSecond img {
    width: 210px;
    height: 140px;
    transform: perspective(160px) rotateY(-30deg);
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    font-size: 30px;
    border: 1px solid var(--black);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 10px;
    transition: opacity 0.1s;
}

.buttons button:hover {
    opacity: 1;
}

.buttons button:focus-visible {
    opacity: 1;
    outline: var(--black) solid 3px;
}

#pause {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    color: var(--black);
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
